:root {
    --fonte-montserrat: 'Montserrat', sans-serif;
    --fonte-infant: 'Ysabeau Infant', sans-serif;
    --cor-branco: #fff;
    --cor-preto: #000;
    --cor-preto-transparente: #0200006e;
    --gradiente: linear-gradient(to right, #ffdf00, #009c3b);
}