.ancora {
    background-color: var(--cor-preto-transparente);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    position: relative;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    color: var(--cor-branco)
}

.imagem {
    width: auto;
    height: 60%;
    position: absolute;
    left: 1.8%
}

/* Hover */
.ancora:hover {
    background-color: var(--cor-branco);
    color: var(--cor-preto)
}